<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="VeluselConString" connectionString="Data Source=LAPTOP-ETGG4K9E\SQLEXPRESS;Initial Catalog=Velusel;User ID=sa;password=."  />
		<add name="SLConString" connectionString="Data Source=LAPTOP-ETGG4K9E\SQLEXPRESS;Initial Catalog=SecurityDB;User ID=sa;password=."  />
	</connectionStrings>
	<appSettings>
		<add key="rutaBackup" value="C:/TuTiN/"/>
		<add key="claveCifrado" value="b14ca5898a4e4133bbce2ea2315a1916"/>
		<add key="rutaArchivoBitacora" value="bitacora.txt"/>
		<add key="rutaArchivoErrores" value="errores.txt"/>
		<add key="nombrePermisoEspecial" value="Auditoría"/>

		<add key="emailQueEnviaContrasenias" value="tiendademascotasnarizotas@gmail.com"/>
		<add key="claveQueEnviaContrasenias" value="perr0pulgoso"/>
		<add key="hostQueEnviaContrasenias" value="smtp.gmail.com"/>
		<add key="puertoQueEnviaContrasenias" value="587"/>
		
	</appSettings>
</configuration>