<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="SLConStringOLD" connectionString="Data Source=DESKTOP-Q2A5TSM;Initial Catalog=SecurityDB;User ID=sa;password=."  />
		<add name="SLConString" connectionString="Server=tcp:tutin.database.windows.net,1433;Initial Catalog=SecurityDB;Persist Security Info=False;User ID=tutin;Password=;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"  />
	</connectionStrings>
</configuration>